extends ../templates/default.jade
block page
	section.section--main
		.section__wrap.section__wrap--main
			.section__body
				.section__body__header
					h1.section__title 
						| Genera ingresos extras, 
						br 
						| combatiendo el <span>Cambio Climático</span>
					p.section__description Curabitur ac dolor fringilla tortor accumsan venenatis feugiat ac magna. Phasellus eu eros vel odio sodales consequat.
				.section__body__body
					.cols.cols--0.cols--0.cols--scroll
						
						.col-md-6.dscroll
							.section__image
								img(src="img/uploads/iPhone 12 Mini - Front 1.svg", alt="",srcset="")
							.section__content
								h3.section__title Haz que tus envios se muevan de una manera profesional y más sustentable
								p.section__description Sube tus envíos a Biketing y haz girar la rueda correcta", "con envíos sustentables tu pyme crece en el sentido correcto.
								a.btn(href="#") Ir a la app 
						.col-md-6.dscroll
							.section__image
								img(src="img/uploads/iPhone 12 Mini - Front 2.svg", alt="",srcset="")
							.section__content.section__content--right
								h3.section__title Genera ganancias extras combatiendo el cambio climático
								p.section__description Súbete a Biketing y se parte de la verdadera logística de última milla verde
								a.btn(href="#") Quiero ser biker


	section.section--media
		.section__wrap
			.section__body
				.section__box
				.cols
					.col-xs-12.col-md-6
						.section__image 
							img(src="img/uploads/fotobici1.svg", alt="", srcset="")
					.col-xs-12.col-md-6
						.section__content
							h3.section__title ¿Que es biketing?
							p.section__description Curabitur ac dolor fringilla tortor accumsanvenenatis feugiat ac magna. Phasellus eu eros vel odio sodalesconsequat. In faucibus, turpis vitae consequat laoreet, erat antepharetra    nulla, non semper lectus sapien non sapien. Pellentesque atneque urna. Ut dolor turpis, sollicitudin eget justo ut, temporefficitur enim. Aenean lobortis tellus libero.
							a.btn(href="#") Ir a la APP

	section.section--media
		.section__wrap
			.section__body
				.section__box.section__box--left
				.cols
					.col-xs-12.col-md-6.col-md-push-6
						.section__image 
							img(src="img/uploads/misionvision.svg", alt="", srcset="")
					.col-xs-12.col-md-6.col-md-pull-6
						.section__content
							h3.section__title Mision
							p.section__dscription Reducir la huella de carbono de cada habitantemejorar la calidad del aire para entornos residenciales. Ofreceresponsabilidad social, tanto a personas como a empresas, parhacerlos     participe de una mejor calidad de vida con esta maquinque combate el cambio climático, la bicicleta.
							h3.section__title Vision
							p.section__dscription Ser la primera solución de logística de últimmilla amigable con el medio ambiente, sumado a incentivar el uso de lbicicleta con el marketing sustentable. Esperamos crear un   ecosistema verde que conecte a las personas y a las empresas con emismo valor, la responsabilidad social.

	section.section--features
		.section__wrap
			.section__body
				.section__body__header
					h3.section__header Caracteristicas
					p.section__description: +lorem(15)
				.section__body__body
					.cols
						.col-xs-12.col-md-4
							article.article--features
								.article__icon
										img(src="img/icons/Vector-1.svg", alt="")
								.article__body
									h4.article__title Entregas más rápidas en ciudades congestionadas
									p.article__description Entregamos un 60% más rápido en bicicleta que en un auto en horario punta
						.col-xs-12.col-md-4
							article.article--features
								.article__icon
										img(src="img/icons/Vector-2.svg", alt="")
								.article__body
									h4.article__title Invierte tu tiempo en hacer crecer tu negocio
									p.article__description No pierdas tiempo organizando los envíos, solo pide un Biker y fideliza a tus clientes con envíos 100% sustentables
						.col-xs-12.col-md-4
							article.article--features
								.article__icon
										img(src="img/icons/Vector-3.svg", alt="")
								.article__body
									h4.article__title Seguimiento
									p.article__description ¿a que hora llega mi pedido?, revisa el seguimiento en ruta y el Biker asignado a cada envío
						.col-xs-12.col-md-4
							article.article--features
								.article__icon
										img(src="img/icons/Vector-4.svg", alt="")
								.article__body
									h4.article__title ¿Envíos pesados? Pide nuestros Bikers Cargo
									p.article__description Llevamos desde lo que cabe en tu palma hasta lo que quieres en tu living, nuestros bikers tipo cargobike pueden llevar hasta 90 kilos.
						.col-xs-12.col-md-4
							article.article--features
								.article__icon
										img(src="img/icons/Vector-5.svg", alt="")
								.article__body
									h4.article__title Demand
									p.article__description Servicio On Demand, en el momento exacto que necesitas enviar puedes pedir un Biker.
						.col-xs-12.col-md-4
							article.article--features
								.article__icon
										img(src="img/icons/Vector.svg", alt="")
								.article__body
									h4.article__title Conocimiento de tarifa
									p.article__description Somos transparentes, siempre sabrás nuestra tarifa antes de solicitar un biker, la cual es calculada en base a la ruta más corta.

	section.section--testimonies
		.section__wrap
			.section__body
				.section__box.section__box--left
				.section__body__header
					h3.section__title Equipo Fundador
				.section__body__body
					.section__avatars
						.section__avatar.current
							img(src="img/uploads/pexels-tima-miroshnichenko-5439370 1.svg")
						.section__avatar
							img(src="img/uploads/pexels-rodnae-productions-9034229 1.svg")
						.section__avatar
							img(src="img/uploads/pexels-rodnae-productions-7580987 1.svg")
					.section__testimonies
						.section__testimony.in
							.section__testimony--content
								.section__testimony--header
									h4.section__title Eduardo Acevedo
									p.section__description Founder - CTO
								.section__testimony--body
									p.section__description  Curabitur ac dolor fringilla tortor accumsan venenatis feugiat ac magna. Phasellus eu eros vel odio sodales consequat. In faucibus, turpis vitae consequat laoreet, erat ante pharetra nulla, non semper lectus sapien non sapien. Pellentesque at neque urna. Ut dolor turpis, sollicitudin eget justo ut, tempor efficitur enim. Aenean lobortis tellus libero.
							.section__testimony--image 
								img(src="img/uploads/pexels-tima-miroshnichenko-5439370 1.svg", alt="", srcset="")
						.section__testimony.out
							.section__testimony--content
								.section__testimony--header
									h4.section__title Eduardo Acevedo
									p.section__description Nutricionista
								.section__testimony--body
									p.section__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel suscipit voluptatum deserunt eum reiciendis dolorum eos, aperiam minus illo aut sapiente, cum nisi ratione ipsum? Possimus, itaque, quod. Dicta, obcaecati.
							.section__testimony--image 
								img(src="img/uploads/foto2.png", alt="", srcset="")
						.section__testimony.out
							.section__testimony--content
								.section__testimony--header
									h4.section__title Eduardo Acevedo
									p.section__description Nutricionista
								.section__testimony--body
									p.section__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel suscipit voluptatum deserunt eum reiciendis dolorum eos, aperiam minus illo aut sapiente, cum nisi ratione ipsum? Possimus, itaque, quod. Dicta, obcaecati.
							.section__testimony--image 
								img(src="img/uploads/foto3.png", alt="", srcset="")
					
	section.section--support 
		.section__wrap 
			.section__box
				.section__header
					h3.section__title Apoyados por
				.section__body
					.section__image 
						img(src="img/logos/image 3.svg", alt="", srcset="")
					.section__image 
						img(src="img/logos/image 4.svg", alt="", srcset="")
					.section__image 
						img(src="img/logos/image 5.svg", alt="", srcset="")
					.section__image 
						img(src="img/logos/image 6.svg", alt="", srcset="")
					.section__image 
						img(src="img/logos/image 7.svg", alt="", srcset="")
					.section__image 
						img(src="img/logos/image 8.svg", alt="", srcset="")
			


