article
	position relative
	overflow hidden
	transition box-shadow 0.3s ease 0s
	background-color white
	background white
	box-shadow: $shadow
	a:after
		content ""
		cover absolute
		z-index 2

	// Elements

	.article__bg
		cover absolute

	.article__title
		font-weight 500
		margin-bottom 5px

	.article__description
		margin-bottom 10px
		font-size $global-size-sm
		line-height $global-lh-md
		&:last-child
			margin-bottom 0

	.article__content
		p
			font-size $global-size-md
			opacity .7
	

	&.article--features
		padding: 15px
		min-height: 212px
		display: flex
		flex-direction: column
		justify-content: flex-end
		position: relative
		border-radius: 20px
		@media $break-md
			min-height: 230px
		.article__icon
			position: absolute
			top 20px
			right: 20px
		.article__body
			margin-top: 58px
			.article__title
				width 65%
				font-size: 16px
				font-weight: 700
			@media $break-md
				margin-top 0px
				font-size: 16px
		&:hover
			transform scale(1.05)
			transition .2s ease
			box-shadow: 0px 0px 5px 1px $color_primary



