
#sections
	position relative
	left 0%
	transition .5s
	z-index 1
	&.sections--left
		left -50%


section
	position relative
	background-color transparent
	color rgba(6, 44, 48, 0.8)
	border-bottom 1px solid rgba(255, 255, 255, .1)
	overflow hidden
	margin: 50px 0px
	// Elementos
		
	.section__bg
		cover(absolute)

	.section__title
		font-weight bold

	.section__description
		font-weight normal
		margin-bottom 20px
		@media $break-md
			font-size $global-size-md 
			line-height $global-lh-lg

	.section__body
		background-color rgba(	255,255,255	,.4)

	.section__header
		text-align center
		margin-bottom 20px
		position relative
		.section__title
			position relative
			display block
			margin-bottom 20px
			color rgba(6, 44, 48, 0.8)
			@media $break-md
				max-width 100%

	.section__filters
		margin 10px
		padding-bottom 20px
		position relative
		overflow auto
		white-space nowrap
		margin 0px -20px 30px
		margin-bottom 40px
		padding 20px 5px
		@media $break-limit
			display flex
			text-align center
			justify-content center
			overflow visible
			white-space normal
			margin-bottom 80px

		.section__filter
			display inline-block
			border-radius 20px
			background-color white
			border 1px solid $cyan
			color $dark
			padding 7px 15px
			margin 0px 2px
			transition .3s
			cursor pointer
			font-weight 500
			&:hover
				background-color $cyan
				color white
			&.current
				background-color $cyan
				color white
	
	.section__footer
		width 100%
		text-align center
		.section__description
			color rgba(6, 44, 48, 0.8)
			font-size 10px
			width 50%
			line-height 1.8
			font-family 'Roboto'
			margin 20px auto 0 auto

	

	
	.section__content
		position relative
		color rgba(6, 44, 48, 0.8)
		line-height $global-lh-md
		font-size $global-size-xmd
		&>*
			animation slideFadeUp .5s ease backwards
			animation-stagger(5,.2s)
		&.section--left
			text-align left

		&.section--right
			text-align right

		&.section--center
			text-align center

		&.section--justify
			text-align justify
		
		blockquote
			p
				line-height $global-lh-md
				font-size $global-size-md
				color $dark
				@media $break-md
					font-size $global-size-lg		

		ul
			margin-bottom 20px
			li
				padding 5px 0px
				&:before
					content ''
					display inline-block
					margin-right 10px
					position relative
					top -1px
					width 10px
					height 10px
					line-height 21px
					text-align center
					border-radius 50%
					overflow initial
					background-color $color_primary

		&.section__content--2col
			@media $break-sm
				column-count 2
				column-gap 40px

		&.section__content--3col
			@media $break-sm
				column-count 2
				column-gap 40px
			@media $break-md
				column-count 3	
	
	.section__flex
		display flex
		flex-direction row
		align-items center	
		@media $break-md
			display flex
			flex-direction row
			align-items center				

	.section__wrap
		position relative
		max-width $limit
		margin 0 auto
		padding 30px 20px
		@media $break-md
			padding 20px 133px


		&.section__wrap--main
			padding 50px 20px 50px
			@media $break-md
				padding 50px 133px 20px
		

		&.section__wrap--header		
			padding 100px 20px 40px		
			@media $break-md
				padding 150px 40px 20px		

		&.section__wrap--header-doc		
			padding 100px 20px 40px		
			@media $break-md
				padding 150px 40px 80px		
		
		&.section__wrap--md		
			padding 40px 20px
			@media $break-md
				padding 40px	
				
		&.section__wrap--sm
			padding 10px 10px
			@media $break-md
				padding 0px 40px
		
		&.section__wrap--xs	
			padding 30px 20px
			@media $break-md
				padding 30px 20px
			
					
		&.section--xs
			max-width ($limit - 800)

		&.section--sm
			max-width ($limit - 500)

		&.section--md
			max-width ($limit - 340)
		
		&.section--lg
			max-width ($limit - 200)	

	// Variantes


	&.section--dark
		background $dark
		color white
						
	&.section--light
		background: rgba(5,102,116,.07);
		background: linear-gradient(101deg, rgba(5,102,116,.07) 12%, rgba(102,191,191,.07) 100%);
		color $dark
	
	&.section--white
		background white
		color $dark	
	
	&.section--lighter
		background $lighter
		color $dark	

	&.section--white
		background white
		color $dark
	
	&.section--color-primary
		background $color_primary
		color white
	
	&.section--color-secundary
		background $color_primary
		color white	
	
	&.section--gray
		background $gray
		color white	
	
	&.section--grayten
		background grayter
		color white	

	// Types

	&.section--main
		margin 0px
		.section__wrap
			.section__body
				flex-direction: column
				border-radius: 20px
				padding 24px
				border: 1px solid white
				@media $break-md
					padding: 40px
				.section__body__header
					max-width: 712px
					font-size: 16px
					margin-bottom: 144px
					text-align: center
					margin 0 auto
					@media $break-md
						margin-bottom: 0px
					.section__title
						font-size: 36px
						color: $dark
				.section__body__body
					background-color: rgba(255, 255, 255, 0)
					border-radius: 20px
					position relative
					.section__image
						background-color: rgba(255, 255, 255, 0)
						position relative
						width: 100%
						margin-bottom: -220px
						@media $break-md
							margin-bottom: -278px
					.section__content
						background-color: white
						border-radius: 20px 0px 0px 20px
						position relative
						z-index 4
						padding 25px
						text-align: center
						&.section__content--right
							border-radius: 0px 20px 0px 0px
						.section__title
							font-size: 24px
							text-align: center
							height: 88px
							@media $break-md
								height: 58px
						.section__description
							font-size: 15px
							text-align: center
			@media $break-md
				.section__body__header
					.section__title
						font-size: 16px
	&.section--media
		.section__body
			flex-direction: column
			background-color: rgba(255, 255, 255, 0)
			border-radius: 20px
			position relative
			padding: 5px
			@media $break-md
				padding: 50px
			.section__box
				position: absolute
				height: 95%
				width: 70%
				border-radius: 20px
				background-color: rgba(255,255,255,0.4)
				border 1px solid white
				margin: -35px -35px
				right 35px
				&.section__box--left
					left 35px
			.section__content
				background-color: white
				border-radius: 20px
				padding: 25px
				.section__description
					font-size: 15px 
			.section__image
				display: flex
				align-items: center


	&.section--testimonies
		.section__body
			padding: 35px
			border-radius: 20px
			position: relative
			background-color: rgba(255, 255, 255, 0)
			.section__box
				position: absolute
				height: 100%
				width: 80%
				border-radius: 20px
				background-color: rgba(255,255,255,0.4)
				border 1px solid white
				margin: -35px -35px
				right 45px
				z-index 1
				&.section__box--left
					left 35px
		.section__body__header
			text-align left
			position relative
			z-index 4
		.section__avatars
			overflow auto
			margin 0px
			padding 0px
			white-space nowrap
			text-align left
			position relative
			z-index 10
			@media $break-md
				padding-bottom 15px
				margin-bottom: -30px
			.section__avatar
				display inline-block
				vertical-align middle
				width 70px
				cursor pointer
				@media $break-sm
					height:  77px
					width 77px
					padding 2px
				img
					circle(70px)
					border 5px solid transparent
					@media $break-sm
						circle(77px)
					margin 0 auto
					transition .2s ease
					transform scale(.7)
				&.current
					img
						transform scale(0.9)
						opacity 1
						box-shadow: 0px 0px 10px 2px $color_primary
		.section__testimonies
			text-align left
			position relative
			z-index 4
			.section__testimony
				&.in
					animation fadeIn .5s .2s ease backwards
					display flex
					flex-direction: column
					gap 25px
					align-items: flex-start
					@media $break-md
						flex-direction: row
				&.out
					animation fadeOut .4s ease
					position absolute
					top 0
					left 0
					width 100%
					display none
				.section__testimony--content
					background-color: white
					max-width: 706px
					padding 25px
					border-radius: 20px
					margin-top: 40px
				.section__testimony--header
					position relative
					z-index 4
					.section__title
						margin-bottom 5px
					.section__description
						opacity .4
				.section__testimony--image
					top: -25%
					left: 50%;
					top: 51%;
					left: 50%;
					position: relative
					transform: translate(-50%, 2%)
					@media $break-md
						position: static
						transform: translate(0%, 4%);
					img
						height: auto
						max-width: 331px
						border-radius: 20px
				.section__testimony--body
					max-width 880px
					.section__description
						font-size 18px
						font-style: italic
						line-height 32px
						opacity .7
						@media $break-md
							font-size 18px
							line-height 32px
					.section__icon
						a
							font-size 24px
	&.section--features
		.section__body
			background-color: rgba(255,255,255,0.4)
			border 1px solid white
			border-radius: 20px
			padding: 5px
			@media $break-md
				padding: 35px
			.section__body__body
				.cols>div 
					margin-bottom: 40px
			.section__body__header
				.section__header
					font-size: 32px
					text-align: left
		

	&.section--support
		.section__box
			background-color: rgba(255,255,255,0.4)
			border 1px solid white
			border-radius: 20px
			padding 35px
			.section__title
				color $dark
				text-align: left
			.section__body
				display: flex
				justify-content: center
				flex-wrap: wrap
				gap 15px
				background-color: rgba(255, 255, 255, 0)
				.section__image
					padding: 0px 15px
					background-color: white
					display: flex
					align-items: center
					border-radius: 20px
					width: 46%
					@media $break-md
						width: 23%
