footer
    .footer__wrap
        .footer__body 
            .footer__info
                .footer__logo
                    img(src="img/logos/logo-biketing 1.svg", alt="", srcset="")
                p.footer__description Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nulla     aliquam eget neque vitae laoreet. Nam eu tempor ex. Maecenas at quameros. Orci  varius natoque penatibus et magnis dis parturient montes.
            .footer__social
                .footer__logo 
                    img(src="img/icons/corfo.svg", alt="", srcset="")
                .footer__icons
                    ul.footer__list 
                        li 
                            a(href="#")
                                span.fa.fa-instagram
                        li 
                            a(href="#")
                                span.fa.fa-facebook
                        li 
                            a(href="#")
                                span.fa-brands.fa-youtube.fa
                    a.btn(href="#") Ir a la APP 
        .footer__footer 
            p.footer__description © Biketing 2023. Allegiant theme by CPOThemes.
