header
	.header__primary
		.header__wrap
			.header__inner
				.header__logo.header__logo--color
					a(href="index.html")
						img(src="./img/logos/logo-biketing 1.svg")

				.header__nav
					.header__nav__bg

					.header__nav__nav
						
						.header__nav__close
							div
							div

						.header__nav__back
							div
							div
							div
						nav
							ul
								li: a(href="index.html") ¿Que es Biketing?
								li: a(href="persons.html") Caracteristicas
								li: a(href="businesses.html") Apoyados por
								li: a(href="docs.html") Equipo fundador
						.header__nav__socials 
							a(href="#")
								span.fa.fa-youtube
							a(href="#")
								span.fa.fa-instagram
							a(href="#")
								span.fa.fa-facebook

				.header__right

					.header__item.header__item--socials
						a(href="#")
							span.fa.fa-youtube
					.header__item.header__item--socials
						a(href="#")
							span.fa.fa-instagram
					.header__item.header__item--socials
						a(href="#")
							span.fa.fa-facebook

					.header__item.header__item--button
						a.btn.btn--header(href="") Ir a la APP

					.header__item.header__item--ham
						.header__ham
							span
							span
							span

									




